@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "ViewApplication";
}

<h2>ViewApplication</h2>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            @foreach (var item in ViewBag.userDetails)
            {
                <tr>
                    <td>Booked By: </td>
                    <td>@item.name</td>
                </tr>
                <tr>
                    <td>Department</td>
                    <td>@item.dept</td>
                </tr>
                <tr>
                    <td>
                        @foreach (var itemDate in ViewBag.bookedDate)
                {
                            <table class="table table-bordered">
                                <tr>
                                    <th>Date</th>
                                    <th>Halls</th>
                                    @*<th>Slots</th>
                                        <th>Requirements</th>*@
                                </tr>
                                <tr>
                                    <td>@itemDate.dateChosen</td>
                                    @foreach (var itemHall in ViewBag.bookedHall)
                                    {
                                        <td>@itemHall.hallName</td>
                                        <td>
                                            @foreach (var itemReq in ViewBag.bookedReq)
                                            {
                                                if (itemReq.hallID == itemHall.hallID)
                                                {
                                                    @itemReq.bookedReq <t></t>
                                                }
                                            }
                                        </td>
                                        <td>
                                            @foreach (var itemSlot in ViewBag.bookingSlot)
                                            {
                                                if (itemSlot.hallID == itemHall.hallID)
                                                {
                                                    @itemSlot.slot <t></t>
                                                }
                                            }
                                        </td>
                                    }
                                </tr>
                            </table>
                        }
                    </td>
                </tr>
                <tr>
                    <td>
                        @*<button onclick="location.href='@Url.Action("ViewApplicationForm", "Admin",new {@item.bookingID})'" class="btn btn-lg">View Application</button>*@
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
