@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "ViewBookingRequests";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>

<div class="modal fade" id="approve" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to approve this booking?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueApprove" type="button" class="btn btn-success">Approve</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="unapprove" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to unapprove this booking?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">Cancel</button>
                <button id="btnContinueUnapprove" type="button" class="btn btn-danger">Unapprove</button>
            </div>
        </div>
    </div>
</div>

<h2>View Booking Requests</h2>
<div class="table-responsive">
    <table class="table table-striped table-hover">
        <tr>
            <th>Booked By</th>
            <th>Department</th>
            <th>Title</th>
            <th>Purpose</th>
            <th>View Application</th>
            <th>Approval</th>
        </tr>

        @foreach (var item in ViewBag.allBookingsList)
        {

            <tr>
                <td>@item.name</td>
                <td>@item.department</td>
                <td>@item.title</td>
                <td>@item.purpose</td>
                <td>@Html.ActionLink("Application", "ViewApplication", "Admin", new { bookingID = item.bookingID, userID = item.userID }, new { target = "_blank" })</td>
                @if (item.status == false)
                {
                    // <td>@Html.ActionLink("Approve", "ApproveBooking", "Admin", new { bookingID = item.bookingID }, null)</td>
                    <td><a id="approve" class="approve" data-target="#approve" data-toggle="modal" data-path="@Url.Action("ApproveBooking", "Admin", new { bookingID = item.bookingID })">Approve</a></td>
                }
                else
                {
                    //<td>@Html.ActionLink("Unapprove", "UnapproveBooking", "Admin", new { bookingID = item.bookingID }, null)</td>
                    <td><a id="unapprove" class="unapprove" data-target="#unapprove" data-toggle="modal" data-path="@Url.Action("UnapproveBooking", "Admin", new { bookingID = item.bookingID })">Unapprove</a></td>
                }
            </tr>

        }

    </table>
</div>
<script>
var path_to_approve,path_to_unapprove;

$(".approve").click(function (e) {
    path_to_approve = $(this).data('path');
});
$('#btnContinueApprove').click(function () {
    window.location = path_to_approve;
});

$(".unapprove").click(function (e) {
    path_to_unapprove = $(this).data('path');
    console.log(path_to_unapprove);
});
$('#btnContinueUnapprove').click(function () {
    window.location = path_to_unapprove;
});
</script>


