@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "ViewBookingRequests";
}

<script src="~/Scripts/jquery-3.2.1.js"></script>

<div class="modal fade" id="approve" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to confirm this booking?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
                <button id="btnContinueApprove" type="button" class="btn btn-success">Yes</button>
            </div>
        </div>
    </div>
</div>

@*<div class="modal fade" id="unapprove" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to cancel this booking?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
                <button id="btnContinueUnapprove" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>*@

@*<div class="modal fade" id="delete" tabindex="-1" role="basic" aria-hidden="true" style="display: none;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title">Confirmation</h4>
            </div>
            <div class="modal-body">
                Are you sure you want to delete this booking?
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" type="button" class="btn btn-default">No</button>
                <button id="btnContinueDelete" type="button" class="btn btn-danger">Yes</button>
            </div>
        </div>
    </div>
</div>*@
<br />
<div class="row">
    <div class="col-md-4">
        <h3>Booking Requests</h3>
    </div>
    <div class="col-md-4" style="margin-top: 2%;">
        <input type="radio" name="selectBookings" value="approved"> Acknowledged
        <input type="radio" name="selectBookings" value="pending"> Pending
        <input type="radio" name="selectBookings" value="all" checked> All
    </div>
    <div class="input-group col-md-4" style="float:right; margin-top: 1%;">
        <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
        <input type="text" class="form-control" id="searchText" onkeyup="searchEnteredText()" placeholder="Search for Booking Number.." title="Type in a name">
    </div>
</div>
<div class="table-responsive">
    <table class="table table-striped table-hover" id="requestsTable">
        <tr>
            <th>Booking No.</th>
            <th>Title</th>
            <th>Dates</th>
            <th>Approval</th>
        </tr>
        @{
            if (ViewBag.allBookingsList.Count!=0)
            {
                int i = 1;
                foreach (var item in ViewBag.allBookingsList)
                {

                <tr>
                    <td>
                        @Html.ActionLink((string)(item.bookingNo), "ViewApplication", "Admin", new { bookingID = item.bookingID, userID = item.userID }, new { target = "_blank" })
                    </td>
                    <td>@item.title</td>
                    <td>
                        @if (ViewBag.bookedDate!=null)
                        {
                            foreach (var itemDate in ViewBag.bookedDate)
                            {
                                if (itemDate.bookingID == item.bookingID)
                                {
                                   <h5>@itemDate.dateChosen.ToShortDateString()</h5>
                                   <br />
                                }
                            }
                        }
                    </td>
                    @if (item.status == 1)
                    {
                        <td style="color:green;">Acknowledged</td>
                        <hidden id="unapprove@(i)" style="display:none;">Cancel</hidden>
                        @*<td><a id="unapprove@(i)" class="unapprove" data-target="#unapprove" data-toggle="modal" data-path="@Url.Action("UnapproveBooking", "Admin", new { bookingID = item.bookingID, userID = item.userID })">Cancel &nbsp;</a>|
                            <a id="delete_1_@(i)" class="delete" data-target="#delete" data-toggle="modal" data-path="@Url.Action("DeleteBooking", "Admin", new { bookingID = item.bookingID})">Delete</a></td>*@
                    }
                    else if (item.status == 0)
                    {
                        <td>
                            <a id="approve@(i)" class="approve" data-target="#approve" data-toggle="modal" data-path="@Url.Action("ApproveBooking", "Admin", new { bookingID = item.bookingID, userID = item.userID })">Acknowledge</a>
                            @*<a id="delete_0_@(i)" class="delete" data-target="#delete" data-toggle="modal" data-path="@Url.Action("DeleteBooking", "Admin", new { bookingID = item.bookingID})">Delete</a>*@
                        </td>
                    }
                </tr>
                    i++;
                }
            }
            else
            {
               <tr> 
                   <td>
                       <h3 class="text-center">No Bookings available</h3>
                   </td>
                </tr>
            }
        }

    </table>
</div>
<script>
    var path_to_approve, path_to_unapprove, path_to_delete;

    $(".approve").click(function (e) {
        path_to_approve = $(this).data('path');
    });
    $('#btnContinueApprove').click(function () {
        window.location = path_to_approve;
    });

    $(".unapprove").click(function (e) {
        path_to_unapprove = $(this).data('path');
        console.log(path_to_unapprove);
    });
    $('#btnContinueUnapprove').click(function () {
        window.location = path_to_unapprove;
    });

    $(".delete").click(function (e) {
        path_to_delete = $(this).data('path');
        console.log(path_to_delete);
    });
    $('#btnContinueDelete').click(function () {
        window.location = path_to_delete;
    });

    function searchEnteredText() {
        var input, filter, table, tr, td, i;
        input = document.getElementById("searchText");
        filter = input.value.toUpperCase();
        table = document.getElementById("requestsTable");
        tr = table.getElementsByTagName("tr");
        for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
                if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
                    tr[i].style.display = "";
                } else {
                    tr[i].style.display = "none";
                }
            }
        }
    }
    $("input[name='selectBookings']").on("change", function () {
        var selectedAction = this.value.toUpperCase();
        table = document.getElementById("requestsTable");
        tr = table.getElementsByTagName("tr");
        if (selectedAction == "APPROVED") {
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    //console.log($("#unapprove"+i).text());
                    var msgString = $("#unapprove" + i).text().toUpperCase();
                    if (msgString.indexOf("CANCEL") !== -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        else if (selectedAction == "PENDING") {
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[3];
                if (td) {
                    var msgString = $("#approve" + i).text().toUpperCase();
                    if (msgString.indexOf("ACKNOWLEDGE") !== -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
        else {
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[7];
                if (td) {
                    tr[i].style.display = "";
                }
            }
        }
    });
</script>
