<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Hall Booking System</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <label class="navbar-brand">HMS</label>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    @{
                        var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                    }
                    @if (Convert.ToInt32(Session["DeanAdminLoggedIn"]) == 1 && controllerName.ToLower() == "admin")
                    {

                            @*@Html.ActionLink("Add Users", "Index", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
                        <li>
                            @*@Html.ActionLink("Registered Users", "ViewRegisteredUsers", "Admin", new { area = "" }, new { @class = "navbar-brand" })*@
                            @Html.ActionLink("View Booking Requests", "ViewBookingRequests", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "Admin", new { area = "" }, new { @class = "navbar-brand" })
                        </li>
                    }
                    @if (Convert.ToInt32(Session["AdminLoggedIn"]) == 1 && controllerName.ToLower() == "superadmin")
                    {
                        <li>
                            @Html.ActionLink("Add Users", "Index", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand", @style = "float:right;" })
                        </li>
                        <li>
                            @Html.ActionLink("View Users", "ViewRegisteredUsers", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand", @style = "float:right;" })
                        </li>
                        <li>
                            @Html.ActionLink("Departments", "AddNewDepartment", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand", @style = "float:right;" })
                        </li>
                        <li>
                            @Html.ActionLink("Logout", "Logout", "SuperAdmin", new { area = "" }, new { @class = "navbar-brand", @style = "float:right;" })
                        </li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer class="footer" style="position: fixed;">
            <p>&copy; @DateTime.Now.Year - Powered by SOFTWARE INCUBATOR</p>
        </footer>
    </div>

    <script src="~/Scripts/jquery-3.2.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

</body>
</html>