@model UtilityBookingSystem.Models.Users
@{
    ViewBag.Title = "ForgotPassword";
    Layout = null;
}

<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/css/newstyle.css" rel="stylesheet" type="text/css" media="all" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div class="container-fluid">
    <div class="top">
        <img src="~/images/akgeclogo.png"> <span>AJAY KUMAR GARG ENGINEERING COLLEGE GHAZIABAD</span>
    </div>
    <div class="row">
        <div class="col-md-3"> 
            @Html.ActionLink("Go Back", "Login", "User", new { style="font-family:'Roboto', sans-serif; font-size: 1.3em; color:#fff;" })
        </div>
        <div class="col-md-6" style="margin-left:5%;">
            <div class="right_section">
                <!-- form-main -->
                <div class="form">
                    <h1>Forgot Password</h1>
                    <div id="login">
                        @using (Html.BeginForm("ForgotPassword", "User", FormMethod.Post, new { @class = "login-form", @style = "margin-left: 10px;" }))
                        {
                            <div class="field-wrap">
                                <label> Enter Your Username<span class="req">*</span> </label>
                                @Html.TextBoxFor(model => model.dept, new { @id = "username" })
                                @Html.ValidationMessageFor(model => model.dept, "", new { @class = "error" })
                                @*<br /><br />*@
                                @*<div>
                                    @Html.DropDownListFor(model => model.deptID, ViewBag.deptList as SelectList, "--Select Department--", new { @class = "form-control" })
                                    @Html.ValidationMessageFor(model => model.deptID, "", new { @class = "error" })
                                </div>*@
                                <input type="submit" class="button button-block" value="Get Link in Email" />
                            </div>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Powered By || <span class="yellow"><a href="http://www.silive.in">SOFTWARE INCUBATOR</a></span>
        </div>
    </div>
</div>
@Html.Raw(TempData["ForgotMail"])
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="~/js/script.js"></script>
<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {
        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });
</script>