@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Logout", "Logout", "User")

<div>
    <!--These are the links of actions that admin can perform-->
    <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#addNewBookingModal">Make a Booking</button>
</div>

<!--Register User Modal-->
<div id="addNewBookingModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Create New Booking</h4>
            </div>
            <div class="modal-body">
                @using (Html.BeginForm("Index", "User", FormMethod.Post))
                {
                    <div>
                        @Html.DropDownListFor(model => model.booking.purposeID, ViewBag.purposeList as SelectList, "--Select Purpose--")
                        @Html.ValidationMessageFor(model => model.booking.purposeID, "", new { @class = "error" })
                    </div>
                    <div>
                        @Html.TextBoxFor(model => model.booking.title, new { @placeholder = "Title" })
                        @Html.ValidationMessageFor(model => model.booking.title, "", new { @class = "error" })
                    </div>
                    <button id="btnSubmit">Proceed to next step</button>
                }
            </div>
        </div>
    </div>
</div>
    