@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Karla" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

<div style="text-align: center;">
    <img style="width: 100px;" src="~/images/akgeclogo.png">
</div>
<div class="container">
    <div style="margin-top:5%;" class="row justify-content-between">
        <div style="text-align:center;font-size: 5rem;color:white;font-family: 'Karla', sans-serif;" class="col-md-6 col-12 col-sm-12">
            Hall Booking System
        </div>
        <div class="col-md-1 col-12 col-sm-12" id="login-page">
            
            @using (Html.BeginForm("Login", "User", FormMethod.Post, new { @class = "login-form" }))
            {
                <div class="row">
                    <div class="input-field col s12 center">
                        <!-- <img src="images/login-logo.png" alt="" class="circle responsive-img valign profile-image-login"/> -->
                        <p class="center login-form-text">LOGIN</p>
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <!-- <i class="mdi-social-person-outline prefix"></i> -->
                        <i class="material-icons prefix">account_circle</i>
                        @Html.TextBoxFor(model => model.login.loginID, new { @id = "username", style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;); cursor: auto;" })
                        <label for="username" data-error="wrong" class="center-align" data-success="right">Username</label>
                        @Html.ValidationMessageFor(model => model.login.loginID, "", new { @class = "error" })
                    </div>
                </div>
                <div class="row margin">
                    <div class="input-field col s12">
                        <!-- <i class="mdi-action-lock-outline prefix"></i> -->
                        <i class="material-icons prefix">vpn_key</i>
                        @Html.PasswordFor(model => model.login.password, new { @id = "password", @style = "background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAQAAAC1HAwCAAAAC0lEQVR4nGP6zwAAAgcBApocMXEAAAAASUVORK5CYII=&quot;);" })
                        <label for="password">Password</label>
                        @Html.ValidationMessageFor(model => model.login.password, "", new { @class = "error" })
                    </div>
                </div>
                <div class="error">@ViewBag.InvalidCredentials</div>
                <div class="row">
                    <div class="input-field col s12 login-text">
                        <input type="checkbox" id="test6" checked="checked" />
                        <label for="test6" class="pointer-events">Remember me</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <button type="submit" class="btn waves-effect waves-light col s12">Login</button>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
<div style="color: white; text-align: center;margin-bottom: 5px;" class="fixed-bottom">
    Powered By
    <img style="width: 50px;" src="~/images/silogo.png">
    Software Incubator
</div>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery-validation@1.17.0/dist/jquery.validate.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
<script type="text/javascript" src="js/script.js"></script>
