@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "Login";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link href="~/css/newstyle.css" rel="stylesheet" type="text/css" media="all" />
<link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">

<script src="~/Scripts/jquery-3.2.1.min.js"></script>
<script src="~/Scripts/jquery.validate.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Scripts/bootstrap.min.js"></script>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

<div class="container-fluid">
    <div class="top">
        <img src="~/images/akgeclogo.png"> <span>AJAY KUMAR GARG ENGINEERING COLLEGE GHAZIABAD</span>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="left_section">
                <div class="heading" style="font-size:3em;">
                    SEMINAR HALL BOOKING SYSTEM
                </div>
                <div class="sub_heading">
                    You can now book all seminar halls online
                </div>
                <div class="sub_heading">
                    |<a href="#viewBookingModal" style="color:coral; font-size:0.8em;" onclick="launchmodal();">Click here to view all bookings.</a>|
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
            <div class="right_section">
                <!-- form-main -->
                <div class="form">
                    <h1>LOGIN FORM</h1>
                    <div id="login">
                        @using (Html.BeginForm("Login", "User", FormMethod.Post))
                        {
                            <div class="field-wrap">
                                <label> Enter Your Username<span class="req">*</span> </label>
                                @Html.TextBoxFor(model => model.login.loginID, new { @id = "username" })
                                @Html.ValidationMessageFor(model => model.login.loginID, "", new { @class = "error" })
                            </div>
                            <div class="field-wrap">
                                <label> Your Password<span class="req">*</span> </label>
                                @Html.PasswordFor(model => model.login.password, new { @id = "password" })
                                @Html.ValidationMessageFor(model => model.login.password, "", new { @class = "error" })
                            </div>
                            <div class="error">@ViewBag.InvalidCredentials</div>
                            @Html.ActionLink("Forgot Password?", "ForgotPassword", "User", new { @class = "nav-link", @style = "color: #F0A830; margin-left:40%;" })
                            <input type="submit" class="button button-block" value="Login" />
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="footer">
            Powered By || <span class="yellow"><a href="http://www.silive.in">SOFTWARE INCUBATOR</a></span>
        </div>
    </div>

    <div class="modal fade" id="viewBookingModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="viewBookingModalBody">
                <div class="input-group col-md-4" style="float:right; margin-top: 1%;">
                    <span class="input-group-addon"><i class="glyphicon glyphicon-search"></i></span>
                    <input type="text" class="form-control" style="color:#000 !important;" id="searchText" onkeyup="searchEnteredText()" placeholder="Enter Month..." title="Type in a month">
                </div>
                <table class="table table-striped table-bordered" id="bookingsTable">
                    @if (ViewBag.allBookingsList != null)
                    {
                        <tr>
                            <th><b>Department</b></th>
                            <th><b>Confirmed/Tentative</b></th>
                            <th><b>Dates</b></th>
                            <th><b>Halls</b></th>
                            <th><b>Slots</b></th>
                        </tr>

                        foreach (var bookingItem in ViewBag.allBookingsList)
                        {
                            int dateCount = 0;
                            <tr>
                                <td><b>@bookingItem.department</b></td>
                                @if (bookingItem.isConfirmed == false)
                                {
                                    <td style="color:cadetblue;">Tentative</td>
                                }
                                else
                                {
                                    <td style="color:red;">Confirmed</td>
                                }
                                @if (ViewBag.bookedDate != null)
                                {
                                    foreach (var itemDate in ViewBag.bookedDate)
                                    {
                                        int hallCount = 0;
                                        if (itemDate.bookingID == bookingItem.bookingID)
                                        {
                                            dateCount = dateCount + 1;
                                            if (dateCount <= 1)
                                            {
                                                <td>@itemDate.dateChosen.ToShortDateString()</td>
                                                foreach (var itemHall in ViewBag.bookedHalls)
                                                {
                                                    if (itemHall.dateID == itemDate.dateID)
                                                    {
                                                        hallCount = hallCount + 1;
                                                        int slotCount = 0;
                                                        if (hallCount <= 1)
                                                        {
                                                            <td>@itemHall.hallName</td>
                                                            foreach (var itemSlot in ViewBag.bookedSlots)
                                                            {
                                                                if (itemSlot.bookedHallID == itemHall.bookedHallID)
                                                                {
                                                                    slotCount = slotCount + 1;
                                                                    if (slotCount <= 1)
                                                                    {
                                                                        <td> @itemSlot.slot</td>
                                                                    }
                                                                    else
                                                                    {
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>@itemSlot.slot</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                            <tr>
                                                                <td></td>
                                                                <td></td>
                                                                <td></td>
                                                                <td>@itemHall.hallName</td>
                                                                @foreach (var itemSlot in ViewBag.bookedSlots)
                                                                {
                                                                    if (itemSlot.bookedHallID == itemHall.bookedHallID)
                                                                    {
                                                                        slotCount = slotCount + 1;
                                                                        if (slotCount <= 1)
                                                                        {
                                                                            <td> @itemSlot.slot</td>
                                                                        }
                                                                        else
                                                                        {
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>@itemSlot.slot</td>
                                                                        </tr>
                                                                        }
                                                                    }
                                                                }
                                                            </tr>
                                                        }
                                                    }
                                                }
                                            }
                                            else
                                            {
                                                <tr>
                                                    <td></td>
                                                    <td></td>
                                                    <td>@itemDate.dateChosen.ToShortDateString()</td>
                                                    @foreach (var itemHall in ViewBag.bookedHalls)
                                                    {
                                                        if (itemHall.dateID == itemDate.dateID)
                                                        {
                                                            hallCount = hallCount + 1;
                                                            int slotCount = 0;
                                                            if (hallCount <= 1)
                                                            {
                                                                <td>@itemHall.hallName</td>
                                                                foreach (var itemSlot in ViewBag.bookedSlots)
                                                                {
                                                                    if (itemSlot.bookedHallID == itemHall.bookedHallID)
                                                                    {
                                                                        slotCount = slotCount + 1;
                                                                        if (slotCount <= 1)
                                                                        {
                                                                            <td> @itemSlot.slot</td>
                                                                        }
                                                                        else
                                                                        {
                                                                        <tr>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td></td>
                                                                            <td>@itemSlot.slot</td>
                                                                        </tr>
                                                                    }
                                                                }
                                                            }
                                                        }
                                                        else
                                                        {
                                                        <tr>
                                                            <td></td>
                                                            <td></td>
                                                            <td></td>
                                                            <td>@itemHall.hallName</td>
                                                            @foreach (var itemSlot in ViewBag.bookedSlots)
                                                            {
                                                                if (itemSlot.bookedHallID == itemHall.bookedHallID)
                                                                {
                                                                    slotCount = slotCount + 1;
                                                                    if (slotCount <= 1)
                                                                    {
                                                                        <td> @itemSlot.slot</td>
                                                                    }
                                                                    else
                                                                    {
                                                                    <tr>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td></td>
                                                                        <td>@itemSlot.slot</td>
                                                                    </tr>
                                                                    }
                                                                }
                                                            }
                                                            </tr>
                                                            }
                                                        }
                                                    }
                                                </tr>
                                            }
                                        }
                                    }
                                }                                
                            </tr>
                        }
                    }
                </table>
            </div>
        </div>
    </div>
</div>

@*<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>*@
<script type="text/javascript" src="~/js/script.js"></script>
<script>
    $('.form').find('input, textarea').on('keyup blur focus', function (e) {
        var $this = $(this),
            label = $this.prev('label');

        if (e.type === 'keyup') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.addClass('active highlight');
            }
        } else if (e.type === 'blur') {
            if ($this.val() === '') {
                label.removeClass('active highlight');
            } else {
                label.removeClass('highlight');
            }
        } else if (e.type === 'focus') {

            if ($this.val() === '') {
                label.removeClass('highlight');
            }
            else if ($this.val() !== '') {
                label.addClass('highlight');
            }
        }

    });
</script>
<script type="text/javascript">
    var launchmodal = function () {
        $("#viewBookingModal").modal('show');
    }
    function searchEnteredText() {
        var input, table, tr, td, td2, i, j, month;
        input = document.getElementById("searchText").value;
        if (input.length >= 3) {
            month = new Date(Date.parse(input + " 1, 2018")).getMonth() + 1;
            if (month < 10) {
                month = "0" + month;
            }
            table = document.getElementById("bookingsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[2];
                if (td) {
                    if (td.innerHTML != "") {
                        if (td.innerHTML.indexOf(month) > -1) {
                            tr[i].style.display = "";
                        } else {
                            tr[i].style.display = "none";
                            for (j = i + 1; j < tr.length; j++)
                                tr[j].style.display = "none";
                        }
                    }
                }
            }
        }
        else {
            table = document.getElementById("bookingsTable");
            tr = table.getElementsByTagName("tr");
            for (i = 0; i < tr.length; i++) {
                tr[i].style.display = "";
            }
        }
    }
</script>
