@model UtilityBookingSystem.Models.BigViewModel
@{
    ViewBag.Title = "ViewApplication";
    Layout = null;
}
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Karla|Montserrat|PT+Sans+Narrow" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<link href="~/css/my-style.css" rel="stylesheet" type="text/css" />
<nav id="navbaar" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a href="http://www.akgec.in"><img src="~/images/akgeclogo.png" height="50px" class="d-inline-block align-top" alt=""></a>
    <a class="navbar-brand" href="@Url.Action("Index","User")">
        <div style="vertical-align: middle;font-family: 'Karla',sans-serif; font-size: 1.5em" class="d-inline-block">
            HMS
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <b class="navbar-toggler-icon"></b>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul style="font-family:'Roboto', sans-serif; font-size: 1.2em" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Logout<span class="sr-only"></span></a>
            </li>
        </ul>
    </div>
</nav>

<div class="right">
    <a href="@Url.Action("Print", "User", new { bookingID = @ViewBag.bookingDetails.bookingID})" id="btnPrint" class="btn btn-success"><i class="fa fa-print" aria-hidden="true"></i>Print</a>
</div>
<div>
    <div>
        <h2 class="text-center" style="color:#00C0C0;margin-top: 5%;text-align: center;">Application for @ViewBag.bookingDetails.title</h2>
    </div>

</div>
<div class="container">
    <div class="table-responsive">
        <table class="table table-striped table-hover table-bordered" style="color:#fff;">
            <tr>
                <td><b>Booking No.</b></td>
                <td><b>@ViewBag.bookingDetails.bookingNo</b></td>
            </tr>
            <tr>
                <td><b>Title</b></td>
                <td><b>@ViewBag.bookingDetails.title</b></td>
            </tr>
            <tr>
                <td><b>Purpose</b></td>
                <td><b>@ViewBag.bookingDetails.purpose</b></td>
            </tr>


            <tr>
                <td><b>Booked At</b></td>
                <td><b>@ViewBag.bookingDetails.bookedAtTime</b></td>
            </tr>
            <tr>
                <td><h4>Status</h4></td>
                @if (ViewBag.bookingDetails.status == 1)
                {
                    <td>
                        <h4 style="color:#00C0C0;"><b>Acknowledged</b> </h4>
                    </td>
                }
                else
                {
                    <td>
                        <h4 style="color:red"><b>Not yet Acknowledged </b></h4>
                    </td>
                }
            </tr>
        </table>
    </div>
    <h3 style="color:#fff;">Booking Details:</h3>
    <div>
        <table class="table table-striped table-hover table-bordered" style="color:#fff;">
            <tr style="background-color:black">
                <td style="background-color:black"></td>
                <td style="background-color:black"></td>
            </tr>
            @foreach (var dateItem in ViewBag.bookedDate)
            {
                int i = 0;

                <tr>
                    <td><h3>Date</h3></td>
                    <td><h3>@dateItem.dateChosen.ToShortDateString()</h3></td>
                </tr>

                foreach (var hallItem in ViewBag.bookedHall)
                {

                    if (hallItem.dateID == dateItem.dateID)
                    {
                        ++i;
                        <tr>
                            <td><h4><b>Hall-@i</b></h4></td>
                            <td><h4><b>@hallItem.hallName</b></h4></td>
                        </tr>
                        <tr>
                            <td><b>Slots:</b></td>
                            <td>
                                @foreach (var slotItem in ViewBag.bookingSlot)
                                {
                                    if (slotItem.bookedHallID == hallItem.bookedHallID)
                                    {
                                        <b>@slotItem.slot, </b>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Requirements:</b></td>
                            <td>
                                @foreach (var reqItem in ViewBag.bookedReq)
                                {
                                    if (reqItem.hallID == hallItem.hallID && reqItem.dateID == dateItem.dateID)
                                    {
                                        <b>@reqItem.bookedReq, </b>
                                    }
                                }
                            </td>
                        </tr>
                        <tr>
                            <td><b>Number of Chairs</b></td>
                            <td>
                                @foreach (var chairItem in ViewBag.chairs)
                                {
                                    if (chairItem.hallID == hallItem.hallID && chairItem.dateID == hallItem.dateID)
                                    {
                                        <b>@chairItem.noOfChairs</b>
                                    }
                                }
                            </td>
                        </tr>
                        if(hallItem.otherRequirements!=null)
                        {
                            <tr>
                                <td><b>Other Requirements:</b></td>
                                <td>@hallItem.otherRequirements</td>
                            </tr>
                        }
                    }
                }
            }
        </table>
    </div>
</div>

