@model List<UtilityBookingSystem.Models.DetailsList>
@{
    ViewBag.Title = "Index";
}
@using (Html.BeginForm("Index", "BookUtility", FormMethod.Post))
{
    int hall = 0, slot = 0, requirement = 0;
    <input type="date" name="detailsObjList[0].date" id="detailsObjList[0].date" required onchange="datechosen();" />
    foreach (var item in ViewBag.HallDetail)
    {
        <hr />
        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].hallID" value="@(hall+1)" />
        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].hallName" value="@item.hallName" />
        <label>@item.hallName</label>
        <!--SLOTS-->
        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@slot].slotID" value="@(slot+1)" />
        <label>SLOT 1</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@slot].isSelected" id="slotcheck@(slot+1)_@(hall+1)" onchange="slotcheckchange(@(slot+1), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+1)].slotID" value="@(slot+2)" />
        <label>SLOT 2</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+1)].isSelected" id="slotcheck@(slot+2)_@(hall+1)" onchange="slotcheckchange(@(slot+2), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+2)].slotID" value="@(slot+3)" />
        <label>SLOT 3</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+2)].isSelected" id="slotcheck@(slot+3)_@(hall+1)" onchange="slotcheckchange(@(slot+3), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+3)].slotID" value="@(slot+4)" />
        <label>SLOT 4</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+3)].isSelected" id="slotcheck@(slot+4)_@(hall+1)" onchange="slotcheckchange(@(slot+4), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+4)].slotID" value="@(slot+5)" />
        <label>SLOT 5</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+4)].isSelected" id="slotcheck@(slot+5)_@(hall+1)" onchange="slotcheckchange(@(slot+5), @(hall+1);" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+5)].slotID" value="@(slot+6)" />
        <label>SLOT 6</label>
        <input type="checkbox" name="detailsObjList[0].hallsArray[@hall].slotsArray[@(slot+5)].isSelected" id="slotcheck@(slot+6)_@(hall+1)" onchange="slotcheckchange(@(slot+6), @(hall+1));" />
        <br />
        <!--REQUIREMENTS-->
        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@requirement].requirementID" value="@(requirement+1)" />
        <label>Requirement 1</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@requirement].isSelected" id="reqcheck@(requirement+1)_@(hall+1)" onchange="reqcheckchange(@(requirement+1), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+1)].requirementID" value="@(requirement+2)" />
        <label>Requirement 2</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+1)].isSelected" id="reqcheck@(requirement+2)_@(hall+1)" onchange="reqcheckchange(@(requirement+2), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+2)].requirementID" value="@(requirement+3)" />
        <label>Requirement 3</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+2)].isSelected" id="reqcheck@(requirement+3)_@(hall+1)" onchange="reqcheckchange(@(requirement+3), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+3)].requirementID" value="@(requirement+4)" />
        <label>Requirement 4</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+3)].isSelected" id="reqcheck@(requirement+4)_@(hall+1)" onchange="reqcheckchange(@(requirement+4), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+4)].requirementID" value="@(requirement+5)" />
        <label>Requirement 5</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+4)].isSelected" id="reqcheck@(requirement+5)_@(hall+1)" onchange="reqcheckchange(@(requirement+5), @(hall+1));" />

        <input type="hidden" name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+5)].requirementID" value="@(requirement+6)" />
        <label>Requirement 6</label>
        <input type="checkbox" disabled name="detailsObjList[0].hallsArray[@hall].requirementsArray[@(requirement+5)].isSelected" id="reqcheck@(requirement+6)_@(hall+1)" onchange="reqcheckchange(@(requirement+6), @(hall+1));" />

        hall = hall + 1;

    }
    hall = 0;
    <br />
    <input type="date" name="detailsObjList[1].date" id="detailsObjList[1].date" required onchange="datechosen();"/>
    foreach (var item in ViewBag.HallDetail)
    {
        <hr />
        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].hallID" value="@(hall+1)" />
        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].hallName" value="@item.hallName" />
        <label>@item.hallName</label>
        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@slot].slotID" value="@(slot+1)" />
        <label>SLOT 1</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@slot].isSelected" id="slotcheck@(slot+1)_@(hall+1)" onchange="slotcheckchange(@(slot+1), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+1)].slotID" value="@(slot+2)" />
        <label>SLOT 2</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+1)].isSelected" id="slotcheck@(slot+2)_@(hall+1)" onchange="slotcheckchange(@(slot+2), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+2)].slotID" value="@(slot+3)" />
        <label>SLOT 3</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+2)].isSelected" id="slotcheck@(slot+3)_@(hall+1)" onchange="slotcheckchange(@(slot+3), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+3)].slotID" value="@(slot+4)" />
        <label>SLOT 4</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+3)].isSelected" id="slotcheck@(slot+4)_@(hall+1)" onchange="slotcheckchange(@(slot+4), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+4)].slotID" value="@(slot+5)" />
        <label>SLOT 5</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+4)].isSelected" id="slotcheck@(slot+5)_@(hall+1)" onchange="slotcheckchange(@(slot+5), @(hall+1);" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+5)].slotID" value="@(slot+6)" />
        <label>SLOT 6</label>
        <input type="checkbox" name="detailsObjList[1].hallsArray[@hall].slotsArray[@(slot+5)].isSelected" id="slotcheck@(slot+6)_@(hall+1)" onchange="slotcheckchange(@(slot+6), @(hall+1));" />
        <br />
        <!--REQUIREMENTS-->
        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@requirement].requirementID" value="@(requirement+1)" />
        <label>Requirement 1</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@requirement].isSelected" id="reqcheck@(requirement+1)_@(hall+1)" onchange="reqcheckchange(@(requirement+1), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+1)].requirementID" value="@(requirement+2)" />
        <label>Requirement 2</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+1)].isSelected" id="reqcheck@(requirement+2)_@(hall+1)" onchange="reqcheckchange(@(requirement+2), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+2)].requirementID" value="@(requirement+3)" />
        <label>Requirement 3</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+2)].isSelected" id="reqcheck@(requirement+3)_@(hall+1)" onchange="reqcheckchange(@(requirement+3), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+3)].requirementID" value="@(requirement+4)" />
        <label>Requirement 4</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+3)].isSelected" id="reqcheck@(requirement+4)_@(hall+1)" onchange="reqcheckchange(@(requirement+4), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+4)].requirementID" value="@(requirement+5)" />
        <label>Requirement 5</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+4)].isSelected" id="reqcheck@(requirement+5)_@(hall+1)" onchange="reqcheckchange(@(requirement+5), @(hall+1));" />

        <input type="hidden" name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+5)].requirementID" value="@(requirement+6)" />
        <label>Requirement 6</label>
        <input type="checkbox" disabled name="detailsObjList[1].hallsArray[@hall].requirementsArray[@(requirement+5)].isSelected" id="reqcheck@(requirement+6)_@(hall+1)" onchange="reqcheckchange(@(requirement+6), @(hall+1));" />
        
        hall = hall + 1;
    }
    <input type="submit" value="Submit" />
}
<script type="text/javascript">
    var slotcheckchange = function (slotid, hallid) {
        var id="#slotcheck"+slotid+"_"+hallid;
        if ($(id).prop('checked')) {
            $(id).val('true');
        }
    }
    var reqcheckchange = function (reqid, hallid) {
        var id = "#reqcheck" + reqid + "_" + hallid;
        if ($(id).prop('checked')) {
            $(id).val('true');
        }
    }
    var datechosen = function () {
        var date = document.getElementById("detailsObjList[0].date").value;
        $.ajax({
            type: "POST",
            data: { 'date': date },
            dataType: 'JSON',
            url: "/BookUtility/GetBookedSlotsList",
            success: function (bookedSlotsList) {
                var bookedSlotsItem = '';
                $.each(bookedSlotsList, function (i, bookedSlotsItem) {
                    $("#slotcheck" + bookedSlotsItem.hallID+"_"+bookedSlotsItem.slotID).prop("disabled", true);
                });
                $.ajax({
                    type:"GET",
                    dataType: 'JSON',
                    url: "/BookUtility/GetRequirementsList",
                    success: function (requirementsList) {
                        var requirementsItem ='';
                        $.each(requirementsList,function(i, requirementsItem) {
                            $("#reqcheck"+requirementsItem.requirementID+"_"+requirementsItem.hallID).removeAttr("disabled");
                        })
                    }
                });
            }
        })
    }
</script>