@model List<UtilityBookingSystem.Models.DetailsList>
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<script src="~/Scripts/jquery-3.2.1.js"></script>
<link href="~/Content/themes/base/jquery-ui.css" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="https://fonts.googleapis.com/css?family=Roboto|Open+Sans|Karla|Montserrat" rel="stylesheet">
<link href="~/css/datedropper.css" rel="stylesheet" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="~/css/style.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="~/Scripts/jquery-ui-1.12.1.js"></script>
<link href="~/css/my-style.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/modernizr-2.6.2.js"></script>


<nav id="navbaar" class="navbar navbar-expand-lg navbar-dark sticky-top">
    <a href="http://www.akgec.in"><img src="~/images/akgeclogo.png" height="50px" class="d-inline-block align-top" alt=""></a>
    <a class="navbar-brand" href="index.html">
        <div style="vertical-align: middle;font-family: 'Karla',sans-serif; font-size: 1.5em" class="d-inline-block">
            HMS Step 2.
        </div>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <b class="navbar-toggler-icon"></b>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
        <ul style="font-family:'Roboto', sans-serif; font-size: 1.2em" class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" href="#">Past Bookings<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Future bookings<span class="sr-only"></span></a>
            </li>
            <li class="nav-item">
                @Html.ActionLink("Logout", "Logout", "User", new { area = "" }, new { @class = "nav-link" })
            </li>
        </ul>
    </div>
</nav>


<div id="bookingForm" style="display:none; color:#fff;">
    @{
        int index = 0;
        int hall = 0, slot = 0, requirement = 0;
        <b style="font-size:xx-large">Select Date: &nbsp;</b>
        <input type="text" id="date" onchange="datechosen();"  autofocus required title="Select a date" />
        <input type="hidden" name="detailsObjList[@index].date" id="alternateDate" />

        <span id="invalidDate" style="color:indianred;"></span>
        <br />

        <table id="tableBooking_" style="color:white;" class="table table-bordered">
            <tbody id="tbodyBooking_">
            @foreach (var item in ViewBag.HallDetail)
            {
                slot = 0;
                requirement = 0;
                @*<hr />*@
                @*<br />*@
                <tr id="booking_@(index)_row1_">
                    <td id="booking_@(index)_column_hall_1_">
                        <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].hallID" value="@(item.hallID)" id="hiddenhall@(hall)_" />
                        <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].hallName" value="@item.hallName" id="hiddenhallname@(hall)_" />
                        <label>@item.hallName :</label>
                    </td>
                    <!--SLOTS-->
                    @foreach (var slotItem in item.slotsArray)
                    {
                        <td id="booking_@(index)_column_slot_@(slot)_">
                            <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].slotsArray[@slot].slotID" value="@(slotItem.slotID)" id="hiddenslot@(slot + 1)_@(hall + 1)_" />
                            <label id="lblSlot@(slot+1)_@(hall + 1)_" onmouseover="seeDetails(@(slot+1),@(hall+1))">@slotItem.slot</label>
                            <input type="checkbox" class="slots@(hall+1)" data-toggle="tooltip" name="detailsObjList[@index].hallsArray[@hall].slotsArray[@slot].isSelected" id="slotcheck@(slot + 1)_@(hall + 1)_" onchange="slotcheckchange(@(slot + 1), @(hall + 1));" />
                            <span id="span@(slot+1)_@(hall + 1)_" style="color:indianred;"></span>
                        </td>
                        slot = slot + 1;
                    @*<br />*@
                    }
                    </tr>
                    <tr  id="booking_@(index)_row2_">
                        <td id="emptycolumn1_"></td>
                        <!--REQUIREMENTS-->
                        @foreach (var reqItem in item.requirementsArray)
                        {
                            <td id="booking_@(index)_column_req_@(requirement)_">
                                <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].requirementsArray[@requirement].requirementID" value="@(reqItem.requirementID)" id="hiddenreq@(requirement + 1)_@(hall + 1)_" />
                                <label>@reqItem.requirementName</label>
                                <input type="checkbox" class="reqs@(hall + 1)" disabled name="detailsObjList[@index].hallsArray[@hall].requirementsArray[@requirement].isSelected" id="reqcheck@(requirement + 1)_@(hall + 1)_" onchange="reqcheckchange(@(requirement + 1), @(hall + 1));" />
                                @{
                                    requirement = requirement + 1;
                                }
                                @if (reqItem.requirementName == "Chairs")
                                {
                                    <br />
                                    <input type="text" name="detailsObjList[@index].hallsArray[@hall].noOfChairs" id="chairs_@(hall+1)_" style="display:none;" placeholder="Enter no. of chairs" />
                                }
                            </td>

                        }
                </tr>
                hall = hall + 1;
            }
            </tbody>
        </table>
        hall = 0;
        slot = 0;
        requirement = 0;
        <br />
    }
    <span id="detailsErr" class="error"></span>
</div>
@using (Html.BeginForm("Testing", "BookUtility", FormMethod.Post))
{
    <span id="writeroot">
    </span>
    @*<button class="btn btn-success"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Submit</button>*@

    <button class="btn btn-success" onclick="testAllInput(@hall, @slot, @requirement);"><i class="fa fa-check-circle" aria-hidden="true"></i>&nbsp;Submit</button>
}
@*<button class="btn btn-danger"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add More</button>*@

<button id="btnAddMore" class="btn btn-danger" onclick="addMore(@index, @hall, @slot, @requirement);"><i class="fa fa-plus-circle" aria-hidden="true"></i>&nbsp;Add more</button>
<script type="text/javascript" src="~/js/booking.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>