@model List<UtilityBookingSystem.Models.DetailsList>
@{
    ViewBag.Title = "Index";
}
<script src="~/Scripts/jquery-3.2.1.js"></script>

<div id="bookingForm" style="display:none;">
    @{
        int index = 0;
        int hall = 0, slot = 0, requirement = 0;
        //using (Html.BeginForm("Testing", "BookUtility", FormMethod.Post, new { @id = "regForm" }))
        //{
            <input type="date"  name="detailsObjList[@index].date" id="date" required onchange="datechosen();" />
        foreach (var item in ViewBag.HallDetail)
        {
            slot = 0;
            requirement = 0;
                <hr />
                <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].hallID" value="@(item.hallID)" id="hiddenhall@(hall)_"/>
                <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].hallName" value="@item.hallName" id="hiddenhallname@(hall)_"/>
                <label>@item.hallName</label>
            <!--SLOTS-->
            foreach (var slotItem in item.slotsArray)
            {
                <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].slotsArray[@slot].slotID" value="@(slotItem.slotID)" id="hiddenslot@(slot + 1)_@(hall + 1)_" />
                <label>@slotItem.slot</label>
                <input type="checkbox" name="detailsObjList[@index].hallsArray[@hall].slotsArray[@slot].isSelected" id="slotcheck@(slot + 1)_@(hall + 1)_" onchange="slotcheckchange(@(slot + 1), @(hall + 1));" />
                slot = slot + 1;
                <br />
            }
            <!--REQUIREMENTS-->
            foreach (var reqItem in item.requirementsArray)
            {
                <input type="hidden" name="detailsObjList[@index].hallsArray[@hall].requirementsArray[@requirement].requirementID" value="@(reqItem.requirementID)" id="hiddenreq@(requirement + 1)_@(hall + 1)_" />
                <label>@reqItem.requirementName</label>
                <input type="checkbox" disabled name="detailsObjList[@index].hallsArray[@hall].requirementsArray[@requirement].isSelected" id="reqcheck@(requirement + 1)_@(hall + 1)_" onchange="reqcheckchange(@(requirement + 1), @(hall + 1));" />
                requirement = requirement + 1;
            }

            hall = hall + 1;

        }
        hall = 0;
        slot = 0;
        requirement = 0;
            <br />

            @*<input type="submit" value="Submit" />*@
            @* } *@
        @*<button id="btnAddMore" onclick="addMore(@index, @hall, @slot, @requirement);">Add more</button>*@
            @*}*@
        }
</div>
@using (Html.BeginForm("Testing", "BookUtility", FormMethod.Post))
{
    <span id="writeroot">@*<input type="submit" value="Submit" />*@</span>
    @*<button id="btnAddMore" onclick="addMore(@index, @hall, @slot, @requirement);">Add more</button>*@
    <input type="submit" value="Submit" />
 } 
<button id="btnAddMore" onclick="addMore(@index, @hall, @slot, @requirement);">Add more</button>

<script type="text/javascript">
    $(document).ready(function () {
        var detailsArray = new Array();
        detailsArray = '@Html.Raw(Json.Encode(ViewBag.HallDetail))';
        $("#date").attr("name", "detailsObjList[" + 0 + "].date");
        var newFields = document.getElementById('bookingForm').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        var newField = newFields.childNodes;
        for (var i = 0; i < newField.length; i++) {
            var newId = newField[i].id
            if (newId)
                newField[i].id = newId + click;
        }
        var insertHere = document.getElementById('writeroot');
        insertHere.parentNode.insertBefore(newFields, insertHere);
    });
    var click=0;
    var addMore = function (index, hall, slot, requirement) {
        click = click + 1;

        var newFields = document.getElementById('bookingForm').cloneNode(true);
        newFields.id = '';
        newFields.style.display = 'block';
        var newField = newFields.childNodes;
        for (var i = 0; i < newField.length; i++) {
            var newId = newField[i].id
            if (newId)
                newField[i].id = newId + click;
        }
        var insertHere = document.getElementById('writeroot');
        insertHere.parentNode.insertBefore(newFields,insertHere);
        //document.getElementById("bookingForm" + click).reset();

        var j = 1,k = 0;
        var iHall = hall;
        for (i = 1; i <= click; i++) {
            $("#date"+click).attr("name", "detailsObjList[" + i + "].date");

            for (j = 1; j <= 6; j++) {
                iHall = hall;
                for (p = 1; p <= 4; p++) {
                    $("#hiddenhall" + (hall + p - 1) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].hallID");
                    $("#hiddenhallname" + (hall + p - 1) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].hallName");
                    $("#slotcheck" + (slot + j) + "_" + (hall + p) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].slotsArray[" + (slot + k) + "].isSelected");
                    $("#hiddenslot" + (slot + j) + "_" + (hall + p) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].slotsArray[" + (slot + k) + "].slotID");
                    $("#reqcheck" + (requirement + j) + "_" + (hall + p) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].requirementsArray[" + (requirement + k) + "].isSelected");
                    $("#hiddenreq" + (requirement + j) + "_" + (hall + p) + "_" + click).attr("name", "detailsObjList[" + (index + i) + "].hallsArray[" + iHall + "].requirementsArray[" + (requirement + k) + "].requirementID");
                    iHall++;
                }
                k++;
            }
        }
    }
</script>


<script type="text/javascript">
    var slotcheckchange = function (slotid, hallid) {
        var id="#slotcheck"+slotid+"_"+hallid+"_"+click;
        if ($(id).prop('checked')) {
            $(id).val('true');
        }
    }
    var reqcheckchange = function (reqid, hallid) {
        var id = "#reqcheck" + reqid + "_" + hallid + "_" + click;
        if ($(id).prop('checked')) {
            $(id).val('true');
        }
    }
    var datechosen = function () {
        var id = "date"+click;
        var date = document.getElementById(id).value;
        $.ajax({
            type: "POST",
            data: { 'date': date },
            dataType: 'JSON',
            url: "/BookUtility/GetBookedSlotsList",
            success: function (bookedSlotsList) {
                var bookedSlotsItem = '';
                $.each(bookedSlotsList, function (i, bookedSlotsItem) {
                    $("#slotcheck" + bookedSlotsItem.slotID + "_" + bookedSlotsItem.hallID + "_" + click).prop("disabled", true);
                });
            }
        });
        getRequirementsList();
    }
    var getRequirementsList = function(){
        $.ajax({
            type:"GET",
            dataType: 'JSON',
            url: "/BookUtility/GetRequirementsList",
            success: function (requirementsList) {
                var requirementsItem ='';
                $.each(requirementsList,function(i, requirementsItem) {
                    $("#reqcheck" + requirementsItem.requirementID + "_" + requirementsItem.hallID + "_" + click).removeAttr("disabled");
                })
            }
        });
        //    }
        //})
    }
</script>